<div id="address-box">
    <a href="#"><img src="<%= url_for("/frontend/images/logo.png") %>" alt="" /></a>
    <div id="address-list">
        <div class="tit-name"><i class="icon-location4"></i></div>
        <div class="tit-contain"><%= contact_info["address"] %></div>
        <div class="tit-name"><i class="icon-phone2"></i></div>
        <div class="tit-contain"><%= contact_info["phone_1"] %></div>
        <div class="tit-name"><i class="icon-envelop3"></i></div>
        <div class="tit-contain"><%= contact_info["email_1"] %></div>
    </div>
</div> 