<% if banner.present? and banner.status == "active" %>
    <div class="header-banner banner-opacity">
        <a href="<%= banner.link_url %>">
            <%= image_tag(image_src(banner.image_url.thumb)) %>
        </a>
    </div>
<% else %>
    <div class="header-banner banner-opacity">
        <a href="">
            <img alt="Banner Default" src="/frontend/assets/data/ads1.jpg" />
        </a>
    </div>
<% end %>