#address-list .tit-name {
    width: 30px;
}
.product-list.list .add-to-cart {
    width: 170px;
}
.product-list.list .add-to-cart a {
    width: 156px;
}
.product-list.list .quick-view {
    right: 28px;
}
#main-menu .navbar .navbar-nav>li:hover, #main-menu .navbar .navbar-nav>li.active {
    background: #006a94;
}
.header-top-right {
    border-top-color: #006a94;
}
.main-header .header-search-box .form-inline .btn-search,
.main-header .shopping-cart-box a.cart-link:after,
#mail-box .btn {
    background-color: #ee8f1b;
}
.popular-tabs .nav-tab li:hover, .popular-tabs .nav-tab li.active,
#main-menu .dropdown-menu .block-container .group_header>a {
    border-bottom-color: #ee8f1b;
}
a:hover {
    color: #006a94;
}
#product .pb-right-column .form-option .attributes .attribute-label {
    width: 80px;
}
#contact #btn-send-contact {
    padding-left: 42.5%;
    padding-right: 42.5%;
}