<div class="col-sm-3" id="box-vertical-megamenus">
    <div class="box-vertical-megamenus">
        <h4 class="title">
            <span class="title-menu">DANH MỤC SẢN PHẨM</span>
            <span class="btn-open-mobile pull-right home-page"><i class="fa fa-bars"></i></span>
        </h4>
        <div class="vertical-menu-content is-home">
            <ul class="vertical-menu-list">
                <li><a href="category2.html"><img class="icon-menu" alt="Funky roots" src="/frontend/assets/data/4.png">Health &amp; Beauty Bags</a></li>
                <li>
                    <a class="parent" href=""><img class="icon-menu" alt="Funky roots" src="/frontend/assets/data/2.png">Sports &amp; Outdoors</a>
                    <div class="vertical-dropdown-menu">
                        <div class="vertical-groups col-sm-12">
                            <div class="mega-group col-sm-4">
                                <h4 class="mega-group-header"><span>Tennis</span></h4>
                                <ul class="group-link-default">
                                    <li><a href="#">Tennis</a></li>
                                    <li><a href="#">Coats &amp; Jackets</a></li>
                                    <li><a href="#">Blouses &amp; Shirts</a></li>
                                    <li><a href="#">Tops &amp; Tees</a></li>
                                    <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                                    <li><a href="#">Intimates</a></li>
                                </ul>
                            </div>
                            <div class="mega-group col-sm-4">
                                <h4 class="mega-group-header"><span>Swimming</span></h4>
                                <ul class="group-link-default">
                                    <li><a href="#">Dresses</a></li>
                                    <li><a href="#">Coats &amp; Jackets</a></li>
                                    <li><a href="#">Blouses &amp; Shirts</a></li>
                                    <li><a href="#">Tops &amp; Tees</a></li>
                                    <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                                    <li><a href="#">Intimates</a></li>
                                </ul>
                            </div>
                            <div class="mega-group col-sm-4">
                                <h4 class="mega-group-header"><span>Shoes</span></h4>
                                <ul class="group-link-default">
                                    <li><a href="#">Dresses</a></li>
                                    <li><a href="#">Coats &amp; Jackets</a></li>
                                    <li><a href="#">Blouses &amp; Shirts</a></li>
                                    <li><a href="#">Tops &amp; Tees</a></li>
                                    <li><a href="#">Hoodies &amp; Sweatshirts</a></li>
                                    <li><a href="#">Intimates</a></li>
                                </ul>
                            </div>
                            <div class="mega-custom-html col-sm-12">
                                <a href="#"><img src="/frontend/assets/data/banner-megamenu.jpg" alt="Banner"></a>
                            </div>
                        </div>
                    </div>
                </li>
                <% menus.each do |item| %>
                <li><a href="<%= item.url %>"><img class="icon-menu" alt="Funky roots" src="/frontend/assets/data/1.png"><%= item.name %></a></li>
                <% end %>
                <li><a href="category.html"><img class="icon-menu" alt="Funky roots" src="/frontend/assets/data/3.png">Smartphone &amp; Tablets</a></li>
                <li><a href="category2.html"><img class="icon-menu" alt="Funky roots" src="/frontend/assets/data/4.png">Health &amp; Beauty Bags</a></li>
                <li>
                    <a class="parent" href="category.html">
                    <img class="icon-menu" alt="Funky roots" src="/frontend/assets/data/5.png">Shoes &amp; Accessories</a>
                    <div class="vertical-dropdown-menu">
                            <div class="vertical-groups col-sm-12">
                                <div class="mega-group col-sm-12">
                                    <h4 class="mega-group-header"><span>Special products</span></h4>
                                    <div class="row mega-products">
                                        <div class="col-sm-3 mega-product">
                                            <div class="product-avatar">
                                                <a href="#"><img src="/frontend/assets/data/p10.jpg" alt="product1"></a>
                                            </div>
                                            <div class="product-name">
                                                <a href="#">Fashion hand bag</a>
                                            </div>
                                            <div class="product-price">
                                                <div class="new-price">$38</div>
                                                <div class="old-price">$45</div>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mega-product">
                                            <div class="product-avatar">
                                                <a href="#"><img src="/frontend/assets/data/p11.jpg" alt="product1"></a>
                                            </div>
                                            <div class="product-name">
                                                <a href="#">Fashion hand bag</a>
                                            </div>
                                            <div class="product-price">
                                                <div class="new-price">$38</div>
                                                <div class="old-price">$45</div>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mega-product">
                                            <div class="product-avatar">
                                                <a href="#"><img src="/frontend/assets/data/p12.jpg" alt="product1"></a>
                                            </div>
                                            <div class="product-name">
                                                <a href="#">Fashion hand bag</a>
                                            </div>
                                            <div class="product-price">
                                                <div class="new-price">$38</div>
                                                <div class="old-price">$45</div>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 mega-product">
                                            <div class="product-avatar">
                                                <a href="#"><img src="/frontend/assets/data/p13.jpg" alt="product1"></a>
                                            </div>
                                            <div class="product-name">
                                                <a href="#">Fashion hand bag</a>
                                            </div>
                                            <div class="product-price">
                                                <div class="new-price">$38</div>
                                                <div class="old-price">$45</div>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </li>
                <li><a href="category.html"><img class="icon-menu" alt="Funky roots" src="/frontend/assets/data/6.png">Toys &amp; Hobbies</a></li>
                <li><a href="category.html"><img class="icon-menu" alt="Funky roots" src="/frontend/assets/data/7.png">Computers &amp; Networking</a></li>
                
            </ul>
            <div class="all-category"><span class="open-cate">Tất Cả Chuyên Mục</span></div>
        </div>
    </div>
</div>