<div class="col-sm-3" id="box-vertical-megamenus">
    <div class="box-vertical-megamenus">
        <h4 class="title">
            <span class="title-menu">DANH MỤC SẢN PHẨM</span>
            <span class="btn-open-mobile pull-right home-page"><i class="fa fa-bars"></i></span>
        </h4>
        <div class="vertical-menu-content is-home">
            <ul class="vertical-menu-list">
                <% menus.order("custom_order").each_with_index do |item, index| %>
                <li<% if index > 11 %> class="cat-link-orther"<% end %>>
                    <a<% if item.children.count > 0 %> class="parent"<% end %> href="<%= item.url %>"><img class="icon-menu" alt="Funky roots" src="/frontend/assets/data/7.png"><%= item.name %></a>
                    <% if item.children.count > 0 %>
                    <div class="vertical-dropdown-menu">
                        <div class="vertical-groups col-sm-12">
                            <% item.children.order("custom_order").each do |child_1| %>
                            <div class="mega-group col-sm-4">
                                <h4 class="mega-group-header"><span><%= link_to child_1.name, child_1.url %></span></h4>
                                <ul class="group-link-default">
                                    <% child_1.children.order("custom_order").each do |child_2| %>
                                    <li><%= link_to child_2.name, child_2.url %></li>
                                    <% end %>
                                </ul>
                            </div>
                            <% end %>
                            <!--<div class="mega-custom-html col-sm-12">
                                <a href="#"><img src="/frontend/assets/data/banner-megamenu.jpg" alt="Banner"></a>
                            </div>-->
                        </div>
                    </div>
                    <% end %>
                </li>
                <% end %>
                <!--<li class="cat-link-orther"><a href="category.html"><img class="icon-menu" alt="Funky roots" src="/frontend/assets/data/11.png">Cameras &amp; Photo</a></li>-->
            </ul>
            <div class="all-category"><span class="open-cate">Tất cả danh mục</span></div>
        </div>
    </div>
</div>